/* First Assignment:
Course Instructor: Jhankar Mahbub,
Prepared by: Mohammad Al-Amin
*/


/*** 

====================================================================
      CSS Structure:
      1: Fonts
      2: Common Part
      3. Header Style
      4. My Previous Year Failure Section Style
      5. My Plan Section Style
      6. Footer Top Banner Section Style
      7. Footer Style


====================================================================

 ***/

/*** 

====================================================================
      Fonts
====================================================================

 ***/
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans&family=Work+Sans:wght@700&display=swap');

 /*** 

====================================================================
  Common Part
====================================================================

***/
*{
    margin: 0;
    padding:0;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    background-color:#FFFFFF;
    padding:20px 25px;
    color: #005FAC;
    font-weight: 600;
    border-radius: 5px;
    border:0;
}
.title{
    font-size: 40px;
    color: #151414;
    text-align: center;
}
.description{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin: 24px 0 20px;
}
.mb-50{
    margin-bottom:50px;
}

 /*** 

====================================================================
  4. Header Style
====================================================================

***/
.new-year-resulations{
   position: absolute;
   top: 43%;
   left: 40%;
}
.new-year-resulations ul{
    list-style-type: circle;
}
.new-year-resulations ul li{
    padding-top:20px;
}
.heading-color{
    color:#005FAC;
}
.header-container{
    display: flex;
    justify-content: space-around;
    background-image: url("../images/banner/menu-bg.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100% 100%;
}
.header-logo{
    display: flex;
}
.header-logo img{
    width: 50px;
    height: 50px;
    padding-top: 5px;
}
.logo-text{
    padding: 20px 20px;
    color:#005FAC
}
.header-menu ul{
    display: flex;

}
.header-menu li{
    list-style-type: none;
    padding: 20px 20px;
}
.header-menu li a{
    text-decoration: none;
    color:#005FAC
}
.header-menu li a:hover{
color:rgb(17, 179, 101)
}
.header-motivation{
    background-image: url("../images/banner/banner3.png");
    min-height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: right;

}
.header-left-content{
    width: 500px;
    height: 50vh;
}
.header-right-content{
    width: 500px;
    height: 50vh;
}
.header-right-content h2{
    font-size: 65px;
    color: #FFFFFF;
}
.header-right-content p{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin: 24px 0;
}
 /*** 

====================================================================
4. My Previous Year Failure Section Style
====================================================================

***/
.previous-failure{
    height: 724px;
    width: 1072px;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 87px;
    margin: 0 auto;
}
.previous-failure-photo{
    width:35%;
}
.previous-failure-photo img{
    height: 100%;
    width: 100%;
}
.previous-failure-details{
 width: 35%;
}
.check-mark{
    color: #6DE6B4;

}
 /*** 

====================================================================
  5. My Plan Section Style
====================================================================

***/
.my-plan{
    text-align: center;
    margin: 0 auto;
    width:80%;
    height:50vh;
}
.my-plan-details{
    display: flex;
    justify-content: center;
    gap: 27px; 
}
.skill-development .skill-title{
    font-size: 30px;
}
.skill-development .skill-description{
    color: #737272;
    font-size: 25px;
    font-weight:500px;
}
/*** 

====================================================================
6. Footer Top Banner Section Style
====================================================================

***/

.footer-top-banner{
    margin-top: 200px;
    height: 250px;
    width: 70%;
    background-image: url("../images/watch.png"),linear-gradient(to right, rgba(0,93,168,1), rgba(28,38,47,.3));;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    text-align: left;
    margin: 0 auto;

}
.footer-top-banner-content{
    padding-top: 60px;
    padding-left:64px;
    width: 50%;

}
.footer-top-banner-content h3{
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom:15px;
   
}
/*** 

====================================================================
7. Footer Style
====================================================================

***/
.footer{
    width: 100%;
    height: 577px;
    background-color: #151414;
    margin-top: 130px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-left{
    width: 35%;

}
.footer-left-title{
    font-size: 45px;
    color: #F8F8F8;
}
.footer-left-description{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 10px;
}
.social-icon{
    display: flex;
    gap: 20px;
    margin-top:20px;
}
.footer-right{
    width: 35%;
    padding-left: 30px;
}
.footer-right h3{
    font-size: 25px;
    color: #F8F8F8;
}
.footer-right input{
    background-color: #151414;
    color: #F8F8F8;
    padding: 10px 10px;
    border:1px solid white;
    border-radius: 5px;
    margin: 10px 0;
}
.footer-right button{
    color:#FFFFFF;
    padding:20px 50px;
    background-color:#005FAC;; 
    font-weight: 600;
    border-radius: 5px;
    border:0;
}